In [1]:
import pandas as pd

In [2]:
happy_15 =  "Resources/happy_2015.csv"
happy_16 =  "Resources/happy_2016.csv"
happy_17 =  "Resources/happy_2017.csv"
happy_18 =  "Resources/happy_2018.csv"
happy_19 =  "Resources/happy_2019.csv"

happy_15_df = pd.read_csv(happy_15, encoding="utf-8")
happy_16_df = pd.read_csv(happy_16, encoding="utf-8")
happy_17_df = pd.read_csv(happy_17, encoding="utf-8")
happy_18_df = pd.read_csv(happy_18, encoding="utf-8")
happy_19_df = pd.read_csv(happy_19, encoding="utf-8")

In [3]:

happy_15_df["Year"] = "2015"

h15 = happy_15_df.rename(columns={"Happiness Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness Score": "Score", "Economy (GDP per Capita)": "GDP per capita", 
                                  "Family": "Social support", "Health (Life Expectancy)": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust (Government Corruption)": "Perceptions of corruption"})

h15_clean = h15[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h15_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [4]:
happy_16_df["Year"] = "2016"

h16 = happy_16_df.rename(columns={"Happiness Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness Score": "Score", "Economy (GDP per Capita)": "GDP per capita", 
                                  "Family": "Social support", "Health (Life Expectancy)": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust (Government Corruption)": "Perceptions of corruption"})

h16_clean = h16[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h16_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

In [5]:
happy_17_df["Year"] = "2017"

h17 = happy_17_df.rename(columns={"Happiness.Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness.Score": "Score", "Economy..GDP.per.Capita.": "GDP per capita", 
                                  "Family": "Social support", "Health..Life.Expectancy.": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust..Government.Corruption.": "Perceptions of corruption"})

h17_clean = h17[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h17_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [6]:
happy_18_df["Year"] = "2018"

h18_clean = happy_18_df[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h18_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [7]:
happy_19_df["Year"] = "2019"

h19_clean = happy_19_df[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h19_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [8]:

happy_clean = pd.concat([h15_clean,h16_clean,h17_clean,h18_clean,h19_clean,])

happy_clean.head()

happy_clean_new = happy_clean.rename(columns={"Overall rank": "happiness_rank", "Country or region": "country", 
                                  "Score": "happiness_score", "GDP per capita": "gdp_per_capita", 
                                  "Social support": "social_support", "Healthy life expectancy": "healthy_life_expectancy", 
                                              "Freedom to make life choices": "choice_freedom", "Generosity": "generosity", 
                                              "Perceptions of corruption": "perceptions_of_corruption", "Year": "year"})
happy_clean_new.head()

,happiness_rank,country,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,choice_freedom,generosity,perceptions_of_corruption,year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [9]:
from sqlalchemy import create_engine
from config import postgres_pwd

db_name = "happiness_db"
table_name = "happiness_index"

connection_string = f"postgres:{postgres_pwd}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

happy_clean_new.to_sql(table_name, con=engine, if_exists="append", index=False)

conn.close()

ModuleNotFoundError: No module named 'psycopg2'