In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/population_data.csv"

population_df = pd.read_csv(file, encoding='utf-8')

# renamed_country_df = new_country_df.rename(columns={'code_2':'2_digit_code', 'code_3':'3_digit_code'})
population_df.head()

,cca2,name,pop2020,pop2019,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
0,CN,China,1439323.776,1433783.686,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394,9706961,148.2775,1.0039,0.1847,1
1,IN,India,1380004.385,1366417.754,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792,3287590,419.7617,1.0099,0.1770,2
2,US,United States,331002.651,329064.917,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341,9372610,35.3160,1.0059,0.0425,3
3,ID,Indonesia,273523.615,270625.568,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178,1904569,143.6144,1.0107,0.0351,4
4,PK,Pakistan,220892.340,216565.318,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060,881912,250.4698,1.0200,0.0283,5

In [ ]:
# new_population_df = population_df[['cca2','pop2019','area', 'Density', 'Gre']]