In [2]:
import pandas as pd

In [3]:
happy_15 =  "../Resources/happy_2015.csv"
happy_16 =  "../Resources/happy_2016.csv"
happy_17 =  "../Resources/happy_2017.csv"
happy_18 =  "../Resources/happy_2018.csv"
happy_19 =  "../Resources/happy_2019.csv"

happy_15_df = pd.read_csv(happy_15, encoding="utf-8")
happy_16_df = pd.read_csv(happy_16, encoding="utf-8")
happy_17_df = pd.read_csv(happy_17, encoding="utf-8")
happy_18_df = pd.read_csv(happy_18, encoding="utf-8")
happy_19_df = pd.read_csv(happy_19, encoding="utf-8")

In [4]:

happy_15_df["Year"] = "2015"

h15 = happy_15_df.rename(columns={"Happiness Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness Score": "Score", "Economy (GDP per Capita)": "GDP per capita", 
                                  "Family": "Social support", "Health (Life Expectancy)": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust (Government Corruption)": "Perceptions of corruption"})

h15_clean = h15[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h15_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,153,Afghanistan,3.575,0.31982,0.30285,0.30335,0.23414,0.36510,0.09719,2015
1,95,Albania,4.959,0.87867,0.80434,0.81325,0.35733,0.14272,0.06413,2015
2,68,Algeria,5.605,0.93929,1.07772,0.61766,0.28579,0.07822,0.17383,2015
3,137,Angola,4.033,0.75778,0.86040,0.16683,0.10384,0.12344,0.07122,2015
4,30,Argentina,6.574,1.05351,1.24823,0.78723,0.44974,0.11451,0.08484,2015

In [5]:
happy_16_df["Year"] = "2016"

h16 = happy_16_df.rename(columns={"Happiness Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness Score": "Score", "Economy (GDP per Capita)": "GDP per capita", 
                                  "Family": "Social support", "Health (Life Expectancy)": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust (Government Corruption)": "Perceptions of corruption"})

h16_clean = h16[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h16_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,154,Afghanistan,3.360,0.38227,0.11037,0.17344,0.16430,0.31268,0.07112,2016
1,109,Albania,4.655,0.95530,0.50163,0.73007,0.31866,0.16840,0.05301,2016
2,38,Algeria,6.355,1.05266,0.83309,0.61804,0.21006,0.07044,0.16157,2016
3,141,Angola,3.866,0.84731,0.66366,0.04991,0.00589,0.12071,0.08434,2016
4,26,Argentina,6.650,1.15137,1.06612,0.69711,0.42284,0.10989,0.07296,2016

In [6]:
happy_17_df["Year"] = "2017"

h17 = happy_17_df.rename(columns={"Happiness.Rank": "Overall rank", "Country" : "Country or region", 
                                  "Happiness.Score": "Score", "Economy..GDP.per.Capita.": "GDP per capita", 
                                  "Family": "Social support", "Health..Life.Expectancy.": "Healthy life expectancy", 
                                  "Freedom": "Freedom to make life choices", 
                                  "Trust..Government.Corruption.": "Perceptions of corruption"})

h17_clean = h17[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h17_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,141,Afghanistan,3.794,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2017
1,109,Albania,4.644,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,2017
2,53,Algeria,5.872,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2017
3,140,Angola,3.795,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,2017
4,24,Argentina,6.599,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2017

In [7]:
happy_18_df["Year"] = "2018"

h18_clean = happy_18_df[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h18_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,145,Afghanistan,3.632,0.332,0.537,0.255,0.085,0.191,0.036,2018
1,112,Albania,4.586,0.916,0.817,0.790,0.419,0.149,0.032,2018
2,84,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,2018
3,142,Angola,3.795,0.730,1.125,0.269,0.000,0.079,0.061,2018
4,29,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054,2018

In [8]:
happy_19_df["Year"] = "2019"

h19_clean = happy_19_df[["Overall rank", "Country or region", "Score", "GDP per capita", "Social support", 
                 "Healthy life expectancy", "Freedom to make life choices", "Generosity", 
                 "Perceptions of corruption", "Year"]]
h19_clean.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
1,107,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,2019
2,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114,2019
3,47,Argentina,6.086,1.092,1.432,0.881,0.471,0.066,0.050,2019
4,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064,2019

In [9]:

happy_clean = pd.concat([h15_clean,h16_clean,h17_clean,h18_clean,h19_clean,])

happy_clean.head()

happy_clean_new = happy_clean.rename(columns={"Overall rank": "happiness_rank", "Country or region": "country", 
                                  "Score": "happiness_score", "GDP per capita": "gdp_per_capita", 
                                  "Social support": "social_support", "Healthy life expectancy": "healthy_life_expectancy", 
                                              "Freedom to make life choices": "choice_freedom", "Generosity": "generosity", 
                                              "Perceptions of corruption": "perceptions_of_corruption", "Year": "year"})
happy_clean_new.head()

,happiness_rank,country,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,choice_freedom,generosity,perceptions_of_corruption,year
0,153,Afghanistan,3.575,0.31982,0.30285,0.30335,0.23414,0.36510,0.09719,2015
1,95,Albania,4.959,0.87867,0.80434,0.81325,0.35733,0.14272,0.06413,2015
2,68,Algeria,5.605,0.93929,1.07772,0.61766,0.28579,0.07822,0.17383,2015
3,137,Angola,4.033,0.75778,0.86040,0.16683,0.10384,0.12344,0.07122,2015
4,30,Argentina,6.574,1.05351,1.24823,0.78723,0.44974,0.11451,0.08484,2015

In [11]:
# The path to our CSV file
file = "../Resources/countries.csv"

countries_df = pd.read_csv(file, encoding='UTF-8')
new_countries_df = countries_df["country"]

new_countries_df.head()

0    Afghanistan
1        Albania
2        Algeria
3         Angola
4      Argentina
Name: country, dtype: object

In [12]:
merge_df = pd.merge(new_countries_df, happy_clean_new, on=('country'), how='inner')

merge_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,choice_freedom,generosity,perceptions_of_corruption,year
0,Afghanistan,153,3.575,0.319820,0.302850,0.303350,0.23414,0.365100,0.097190,2015
1,Afghanistan,154,3.360,0.382270,0.110370,0.173440,0.16430,0.312680,0.071120,2016
2,Afghanistan,141,3.794,0.401477,0.581543,0.180747,0.10618,0.311871,0.061158,2017
3,Afghanistan,145,3.632,0.332000,0.537000,0.255000,0.08500,0.191000,0.036000,2018
4,Afghanistan,154,3.203,0.350000,0.517000,0.361000,0.00000,0.158000,0.025000,2019

In [23]:
from sqlalchemy import create_engine
from config import postgres_pwd, postgres_user

db_name = "happiness_db"
table_name = "happiness_index"

connection_string = f"{postgres_user}:{postgres_pwd}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

merge_df.to_sql(table_name, con=engine, if_exists="append", index=False)

conn.close()